/** {
  padding: 1em;
}*/

body{
  margin: 0%;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
/*PARALLAXEFFECT*/
.background {
  transform: translateZ(-10px) scale(2);
  height: 418 px;
  width: 853 px;
  object-fit: contain;
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

section {
  padding: 2rem;
  background-color: rgb(19, 19, 20);
  color: white;
}

.title {
  font-size: 7rem;
}

img {
  width: 400px;
  object-fit: contain;
}

.carousel {
  /*position: relative;*/
  z-index: index 0;
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.carousel__item {
  height: 200px;
  padding: 3em;
  margin: 3em;
  display: none;
}

/*.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
}*/

.carousel__button {
  color: #8A2BE2;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.card{
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
 overflow:hidden;
 border-radius:20px;
 min-height:450px;
   box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
}

/*adding imogen nav bar*/

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
  background-color: #EBE7DC;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  font-family: 'Wix Madefor Display', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

ul {
  text-align: right;
  list-style-type: none;
}

li a {
  text-decoration: none;
  padding: 16px;
  color: black;
  font-size: 24px;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.text-wrapper {
  display: flex;
}

body {
  margin: 0;
  background-color: #EBE7DC;
  font-family: 'Wix Madefor Display', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.display-1 {
  font-family: 'Wix Madefor Display', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

.intro-container {
  background-color: #EBE7DC;
}

.intro {
  text-align: left;
  /* use the following code line to centre align items -> 'margin: auto;'*/
  width: 1200px;
  padding: 180px 10%;


}

.sub-heading {
  font-family: 'Wix Madefor Display', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.btn-primary {
  border-radius: 28px;
  padding: 12px 24px;
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.btn-primary:hover {
  background-color: #4e0f88;
  border-color: #4e0f88;
}

.whytechheader {
  padding: 0px 24px 40px 24px;
  text-align: center;
  color: #F0F0F0;
}

h2 {
  font-family: 'Wix Madefor Display', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

.whytech {
  background-color: black;
  text-align: center;
  padding: 80px 60px;
}

h4 {
  font-family: 'Wix Madefor Display', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.row {
  text-align: center;
  padding: 0px 40px 60px 40px;
  
}

.container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team {
  text-align: center;
  padding: 80px 60px;
}

.teamheader {
  padding: 0px 24px 40px 24px;
  text-align: center;
}
